<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
<link rel="stylesheet" href={{ url_for('static', filename='css/register.css') }} />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src= {{ url_for('static', filename='images/logo.png') }} width="30" height="30" class="d-inline-block align-top" alt="">
    Bookhub
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if not loggedIn %}
      <li class="nav-item active">  
        <a class="nav-link" href="/loginForm"> Sign In <span class="sr-only">(current)</span></a>
      </li>
    {% else %}
      <li class="nav-item active">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Hello, {{firstName}} </a>
              <div class="dropdown-content">
                <a href="/account/orders">Your orders</a>
                <a href="/account/profile">Your profile</a>
                <hr>
                <a href="/logout">Sign Out</a>
              </div>
        </div>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="/add">Add Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/remove">Remove Item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Checkout Cart ({{noOfItems}})</a>
      </li>
    {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="fullcontent">
    <div class="formbox">
        <h3>Register</h3>
        <form id="form" action="/register" method="POST" onsubmit="return validate()">
            <label for="">Email</label>
            <input type="email" name="email" class="asd">
            <label for="">Password</label>
            <input type="password" name="password" id="password" class="asd" required>
            <label for="">Confirm Password</label>
            <input type="password" name="cpassword" id="cpassword" class="asd">
            <label for="">First Name</label>
            <input type="text" name="firstName" class="asd">
            <label for="">Last Name</label>
            <input type="text" name="lastName" class="asd">

            <input id="btn" name="submit" class="mainbox" type="submit" value="Register">

            <a id="f" href="/loginForm" >Login here</a>
        </form>
    </div>

</div>
</body>
</html>



